@* @{
    ViewData["Title"] = "Home Page";

    var eventsData = new[]
    {
        new { Id=1, Image="Images/1.jpg", Category="Concert", Location="Hà Nội", Title="THIÊN LÝ ƠI", Date="12/08/2025", Price="200.000 VNĐ" },
        new { Id=2, Image="Images/2.jpg", Category="Concert", Location="TP HCM", Title="ĐÊM NHẠC HOA", Date="15/08/2025", Price="350.000 VNĐ" },
        new { Id=3, Image="Images/images.jpg", Category="Sport", Location="Đà Nẵng", Title="GIẢI CHẠY BÃI BIỂN", Date="20/08/2025", Price="150.000 VNĐ" },
        new { Id=4, Image="Images/4.jpg", Category="Concert", Location="Hải Phòng", Title="KỊCH CỔ TÍCH", Date="25/08/2025", Price="250.000 VNĐ" },
        new { Id=5, Image="Images/5.jpg", Category="Concert", Location="Cần Thơ", Title="TRIỂN LÃM TRANH", Date="30/08/2025", Price="Free" },
        new { Id=6, Image="Images/06.jpg", Category="Concert", Location="Huế", Title="LỄ HỘI ẨM THỰC", Date="02/09/2025", Price="100.000 VNĐ" },
        new { Id=7, Image="Images/7.jpg", Category="Sport", Location="Nha Trang", Title="TOUR BIỂN ĐẢO", Date="05/09/2025", Price="1.200.000 VNĐ" },
        new { Id=8, Image="Images/8.jpg", Category="Concert", Location="Hà Nội", Title="NHẠC HỘI", Date="10/09/2025", Price="Free" }
    };
} *@
@model IEnumerable<Event>

<div class="container">

    <div class="mb-4 text-center">
        <h3 class="fw-bold">Sự Kiện</h3>
        <span class="fs-5 fw-medium text-secondary mx-3 category-link" onclick="GetEvent(this,'All')">Tất cả</span>
        <span class="fs-5 fw-medium text-secondary mx-3 category-link" onclick="GetEvent(this,'Concert')"">Concert</span>
        <span class="fs-5 fw-medium text-secondary mx-3 category-link" onclick="GetEvent(this,'Sport')">Sport</span>
    </div>

    <!-- Card sự kiện -->
    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-4" id="events-container">
        <partial name="_EventPartial" model="Model" ></partial>
       

<!-- CSS -->
@section Styles{
    <style>
        .event-card:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 20px rgba(0,0,0,0.1);
            transition: all 0.3s ease;
        }
        .event-img {
            transition: transform 0.3s ease;
            height: 200px;
            object-fit: cover;
        }
        .event-card:hover .event-img {
            transform: scale(1.05);
        }
        .category-link {
            cursor: pointer;
            transition: color 0.3s;
        }
        .category-link:hover {
            color: #ff4081 !important;
        }
        .category-link.active{
            color: #ff4081 !important;

        }
        .bg-pink-light {
            background-color: rgba(255, 192, 203, 0.5);
        }
    </style>
}
<!-- JS -->
@section Scripts{
<script>
    const categoryLinks = document.querySelectorAll('.category-link');
    const eventItems = document.querySelectorAll('.event-item');
    const buyButtons = document.querySelectorAll('.btn-buy');
    @* const modal = new bootstrap.Modal(document.getElementById('buyModal')); *@
    const container = document.getElementById("events-container");

    const GetEvent = async (e, type) => {
        await fetch(`/Home/GetEvent?type=${type}`)
            .then(res => {
                if (!res.ok) {
                    throw new Error('Network response was not ok');
                }
                return res.text();
            })
            .then(data => {
                console.log("API response:", data);
                if (!data || data.trim() == "") {
                    container.innerHTML = `<p class="text-center fs-4 fw-bold">Không có event nào</p>`
                }
                else {
                    container.innerHTML = data
                }

            })
            .catch(error => {
                console.error("Fetch error:", error);
                container.innerHTML = `<p class="text-center text-danger">Lỗi khi tải sự kiện</p>`;
            });
        categoryLinks.forEach(item => {
            item.classList.remove("active");
        })
        e.classList.add("active");

    }
    </script>
}
