html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.dropdown:hover .dropdown-menu {
  display: block;
  right: 0;
  left: auto;
  /* margin-top: 0; */
  /* tránh bị lệch xuống */
}


.account-img{
  width: 24px;
  object-fit: cover;
  margin-right: 5px;
}
/* .btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
} */

input:focus,
button:focus {
  border: none;
  outline: none !important;
  box-shadow: none !important;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.search{
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw !important;
}
@media only screen and (max-width:500px) {
  .search{
    position: absolute;
    right: 10px;
    height: 35px;
    /* transition: 0.5s; */
    padding: 0 !important;
    width: 40px !important;
    transition: width 0.5s ease;
  }
  .search input{
    transition: width 0.5s ease;
    padding: 0;
    width: 0;
    /* opacity: 0; */
  }
  .search .btn{
    height: 35px;
    position: absolute;
    right: -2px;
    /* transition: width 0.5s ease; */
  }
  .search:hover,.search.active{
    width: 100% !important;
  }
  .search:hover input,.search.active input{
    width:calc( 100% - 40px) !important;
    padding: 6px 12px;
    /* width: 25vw !important; */
    /* opacity: 1; */
  }
  
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}